body {
	background-color:#F7F2E0;
	font-family:"Arial", "Verdana", "Sans-serif", "Lucida Console";
}

p {
	font-size:20px;
}

header{
	width: 100%
}

.constructedheader {
	float: left;
}

h1.constructedheader {
	margin-left: 20px;
}