div#wrap {
	width: 350px;
	margin: 0 auto;
	background: #01DF74;
}
body {
	margin-top: 20%;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Arial, sans-serif;
	background: #F7F2E0;
	text-align: left;
}