body{
	/*margin-top: 0;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;*/
	margin: 8px;
}

form{
	padding-left: 20%;
}

p{
	padding-bottom: 22px;
}

textarea{
	resize: none;
}

hr{
	visibility:hidden;
}